@model Domain.CompanyWorker

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>CompanyWorker</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WorkerName" class="control-label"></label>
                <input asp-for="WorkerName" class="form-control" />
                <span asp-validation-for="WorkerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyWorkerPositionId" class="control-label"></label>
                <select asp-for="CompanyWorkerPositionId" class ="form-control" asp-items="ViewBag.CompanyWorkerPositionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="WorkerPhone" class="control-label"></label>
                <input asp-for="WorkerPhone" class="form-control" />
                <span asp-validation-for="WorkerPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkerEmail" class="control-label"></label>
                <input asp-for="WorkerEmail" class="form-control" />
                <span asp-validation-for="WorkerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntryAdded" class="control-label"></label>
                <input asp-for="EntryAdded" class="form-control" />
                <span asp-validation-for="EntryAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class ="form-control" asp-items="ViewBag.CompanyId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
