@model Domain.CompanyType

@{
    ViewData["Title"] = "Create";
}

<h2>@Resources.Common.Create</h2>

<h4>CompanyType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanyTypeName" class="control-label"></label>
                <input asp-for="CompanyTypeName" class="form-control" />
                <span asp-validation-for="CompanyTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyTypeNameEst" class="control-label"></label>
                <input asp-for="CompanyTypeNameEst" class="form-control" />
                <span asp-validation-for="CompanyTypeNameEst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Resources.Common.Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Resources.Common.BackToList</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
