@model Domain.Contact

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContactTypeId" class="control-label"></label>
                <select asp-for="ContactTypeId" class ="form-control" asp-items="ViewBag.ContactTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUserId" class="control-label"></label>
                <input asp-for="ApplicationUserId" class="form-control" />
                <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class ="form-control" asp-items="ViewBag.CompanyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="WorkerId" class="control-label"></label>
                <input asp-for="WorkerId" class="form-control" />
                <span asp-validation-for="WorkerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsNewContactNeeded" /> @Html.DisplayNameFor(model => model.IsNewContactNeeded)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ContactDate" class="control-label"></label>
                <input asp-for="ContactDate" class="form-control" />
                <span asp-validation-for="ContactDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewContactDate" class="control-label"></label>
                <input asp-for="NewContactDate" class="form-control" />
                <span asp-validation-for="NewContactDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewContactType" class="control-label"></label>
                <input asp-for="NewContactType" class="form-control" />
                <span asp-validation-for="NewContactType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
