@model WebApp.Areas.Admin.Models.ContactTypeCreateEditVM

@{
    ViewData["Title"] = "Edit";
}

<h2>@Resources.Common.Edit</h2>

<h4>ContactType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ContactType.ContactTypeId" />
            <input type="hidden" asp-for="ContactType.ContactTypeNameId" />


            @Html.Partial("_CreateEdit")

            <div class="form-group">
                <input type="submit" value="@Resources.Common.Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Resources.Common.BackToList</a>
</div>

