@model Domain.CompanyFieldOfActivity

@{
    ViewData["Title"] = "Edit";
}

<h2>@Resources.Common.Edit</h2>

<h4>CompanyFieldOfActivity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CompanyFieldOfActivityId" />
            <div class="form-group">
                <label asp-for="ActivityName" class="control-label"></label>
                <input asp-for="ActivityName" class="form-control" />
                <span asp-validation-for="ActivityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityNameEst" class="control-label"></label>
                <input asp-for="ActivityNameEst" class="form-control" />
                <span asp-validation-for="ActivityNameEst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Resources.Common.Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Resources.Common.BackToList</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
